@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

h2 {
    font-size: 1.6em;
}

header, main {
    display: block;
}

.form-group {
    margin-bottom: 0;
}
