@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto');

html, body
{
    font-family: 'Open Sans', sans-serif;
}

h1, h2
{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    text-indent: 14px;
}

h2
{
    font-size: 1.6em;
}

header, main
{
    display: block;
}

a, a:hover, a:focus, a:visited, .leaflet-container a
{
    color: #046dc3;
}

/* the facilities checkboxes */
.form-group
{
    margin-bottom: 1.5em;
}

/* for the content of the zoom control */
.leaflet-bar a
{
    color: #000;
}

.leaflet-bar a.leaflet-disabled
{
    color: #757575;
}
